{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}


{% block content %}
<style>
  body{
    background-image: url( "{% static 'media_root/greg-rakozy-oMpAz-DN-9I-unsplash.jpg' %}");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
{{hello_t}}
<br>
{{user_t}}
<p><p></p></p>
<br>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        console.log('working')
    })
</script>
{% endblock scripts %}


