{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
<style>
  body{
    background-image:url('media_root/abc.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

{% block content %}

{{hello_t}}
<br>
{{user_t}}
<p><p></p></p>
<br>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        console.log('working')
    })
</script>
{% endblock scripts %}


